cache/
out/
artifacts/
typechain/
node_modules/

deployments/localhost
deployments/hardhat
deployments/contracts.json

*.log
*.vim

.env
.env.*
!.env.example

.vscode/

flattened.txt

# Ignore deps folders mounted in the root dir to stop solc from
# complaining while we wait for it to support remaps/import paths
@*
